<!DOCTYPE html>
<html>
<head>
  <title>Easycomm</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ink-grid">
  <header class="vertical-space">
    <h1>
      Easycomm
      <small>simple private messaging</small>
    </h1>
    <hr>
  </header>
  <%= yield %>
</div>

</body>
</html>
